<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="grid_meter_values" data-view="List" data-unordered="true" data-title="Zählerstände" data-moreinfo="Stände in kWh"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="solar_production" data-view="Graph" data-title="Solar" style="background-color:#47bbb3;"></div>
    </li>
  </ul>
</div>
