$background-color: darkturquoise;

.widget-weather {
  background-color: $background-color;
  transition: background-color 2s linear;
  -moz-transition: background-color 2s linear;
  -o-transition: background-color 2s linear;
  -webkit-transition: background-color 2s linear;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 80px;
    &:after {
      content: "\00b0";
    }
  }

  h2 {
    display: inline-block;
    vertical-align: bottom;
    font-size: 100px;
    font-family: "Climacons-Font";
    font-weight: normal;
  }

  h3 {
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
  }

  .forecast {
    h2 {
      font-size: 60px;
      display: block;
    }

    p {
      font-size: 18px;
      margin: 5px 0;
    }
  }

  .top {
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
  }

  .center {
    border-right: 2px solid rgba(255, 255, 255, 0.5);
  }

  .updated-at {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: lighten($background-color, 15%);
  }
}

// Temperature-based background colors (darkened for better contrast)
$background-colors: #2a5a8f, #26808f, #289030, #8f7d20, #8f571c, #8f2c1a, #8f1830;

@mixin weather-background($color, $percentage: 25%) {
  background-color: $color;

  .updated-at {
    color: lighten($color, $percentage);
  }
}

@for $index from 0 through 6 {
  .widget-weather.weather-temperature-#{$index} {
    @include weather-background(nth($background-colors, $index + 1));
  }
}

// Climacons icon mapping
$climacons: "\e037", "\e009", "\e009", "\e025", "\e025", "\e00f", "\e015", "\e00f", "\e00c", "\e00c", "\e00f", "\e006", "\e006", "\e015", "\e018", "\e018", "\e018", "\e012", "\e00f", "\e01e", "\e01b", "\e01e", "\e01e", "\e01e", "\e021", "\e01b", "\e000", "\e002", "\e001", "\e002", "\e001", "\e02d", "\e028", "\e001", "\e002", "\e012", "\e028", "\e025", "\e025", "\e025", "\e006", "\e036", "\e036", "\e036", "\e000", "\e025", "\e036", "\e025";

@for $index from 0 through 47 {
  .climacon-#{$index}:before {
    content: nth($climacons, $index + 1);
  }
}
