<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="response-time1" data-view="Alert" data-title="Response Time App 1" data-addclass-danger="isTooHigh"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="response-time2" data-view="Alert" data-title="Response Time App 2" data-addclass-danger="isTooHigh"></div>
    </li>
  </ul>
</div>
