<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wattmeterheating" data-view="Meter" data-title="Heizung" data-min="0" data-max="11000" data-suffix="W"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wattmeterheating_sum" data-view="Number" data-title="Heizung Tagesverbrauch" data-moreinfo="Vergleich zum Vortag in kWh"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="solar_peak_meter" data-view="Meter" data-title="Peakmeter" data-min="0" data-max="6900" data-suffix="W"></div>
    </li>
  </ul>
</div>
