<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="powerwall_soc" data-view="Meter" data-title="Powerwall %" data-moreinfo="Ladestand in %" data-min="0" data-max="100" style="background-color:#0a7cc0;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="powerwall_stored" data-view="Number" data-title="Gespeicherte kWh" data-moreinfo="Ladestand in kWh" style="background-color:#085c8f;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="powerwall_power" data-view="Number" data-title="Powerwall Leistung" data-moreinfo="+ laden / - entladen in W" style="background-color:#063f63;"></div>
    </li>
  </ul>
</div>
